<div class="layout-topbar">
    <a routerLink="">
        <svg xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 280 54"
            width="160"
            height="40"
            class="block"
            role="img"
            aria-label="ClusterAxe"
        >
            <defs>
                <linearGradient id="axeGrad" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:#f7931a;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#ffab40;stop-opacity:1" />
                </linearGradient>
            </defs>
            <text x="0" y="38" font-family="Arial, sans-serif" font-size="36" font-weight="bold" fill="#fff">Cluster</text>
            <text x="138" y="38" font-family="Arial, sans-serif" font-size="36" font-weight="bold" fill="url(#axeGrad)">Axe</text>
        </svg>
    </a>

    <ng-container *ngIf="info$ | async as info">
        <span class="text-500 select-none absolute left-0 bottom-0 ml-6 md:ml-7 mb-1"
            tooltipPosition="bottom"
            pTooltip="Hostname"
        >{{info.hostname}}</span>

        <ul *ngIf="!isAPMode" class="flex ml-auto list-none p-0 m-0 gap-4 lg:flex-order-2">
            <li>
                <a class="block py-2 text-white cursor-pointer"
                    tooltipPosition="bottom"
                    pTooltip="Sensitive data {{sensitiveDataHidden ? 'hidden' : 'visible'}}"
                    (click)="toggleSensitiveData()"
                >
                    <i class="pi pi-{{sensitiveDataHidden ? 'eye-slash' : 'eye'}} block" style="font-size: 1.4rem;"></i>
                </a>
            </li>
            <li>
                <a routerLink="network"
                    class="block py-2"
                    tooltipPosition="bottom"
                    pTooltip="Wi-Fi RSSI: {{info.wifiRSSI}} dBm"
                >
                    <wifi-icon [rssi]="info.wifiRSSI" />
                </a>
            </li>
            <li>
                <a class="block py-2 text-white cursor-pointer"
                    tooltipPosition="bottom"
                    pTooltip="Restart"
                    (click)="restart()"
                >
                    <i class="pi pi-refresh text-xl block"></i>
                </a>
            </li>
        </ul>
    </ng-container>

    <button *ngIf="!isAPMode" #menubutton class="p-link layout-topbar-button"
        (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
</div>