<div class="layout-topbar">
    <a routerLink="" class="flex align-items-center">
        <img src="assets/logo.png" alt="ClusterAxe" height="40" class="block">
    </a>

    <ng-container *ngIf="info$ | async as info">
        <span class="text-500 select-none absolute left-0 bottom-0 ml-6 md:ml-7 mb-1"
            tooltipPosition="bottom"
            pTooltip="Hostname"
        >{{info.hostname}}</span>

        <ul *ngIf="!isAPMode" class="flex ml-auto list-none p-0 m-0 gap-4 lg:flex-order-2">
            <li>
                <a class="block py-2 text-white cursor-pointer"
                    tooltipPosition="bottom"
                    pTooltip="Sensitive data {{sensitiveDataHidden ? 'hidden' : 'visible'}}"
                    (click)="toggleSensitiveData()"
                >
                    <i class="pi pi-{{sensitiveDataHidden ? 'eye-slash' : 'eye'}} block" style="font-size: 1.4rem;"></i>
                </a>
            </li>
            <li>
                <a routerLink="network"
                    class="block py-2"
                    tooltipPosition="bottom"
                    pTooltip="Wi-Fi RSSI: {{info.wifiRSSI}} dBm"
                >
                    <wifi-icon [rssi]="info.wifiRSSI" />
                </a>
            </li>
            <li>
                <a class="block py-2 text-white cursor-pointer"
                    tooltipPosition="bottom"
                    pTooltip="Restart"
                    (click)="restart()"
                >
                    <i class="pi pi-refresh text-xl block"></i>
                </a>
            </li>
        </ul>
    </ng-container>

    <button *ngIf="!isAPMode" #menubutton class="p-link layout-topbar-button"
        (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
</div>